* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-image: url(./image/bg.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
      line-height: 160%;
  
}

header {
    padding-top: 3.2rem;
   
    
}

header img {
    width: 100%;
    border-radius: 50%;
   
    
}

header div {
    width: 12rem;
    margin: auto;
    background-image: linear-gradient(90deg, #E2D45C 0%, #43E7AD, #9572fc 100%);
    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .4s;
}

header div:hover {
    transform: scale(1.1);
}

main {
    max-width: 58rem;
    width: 90%;
    margin: 3.2rem auto;

    display: grid;
    gap: 24px;
}

section {
    color: #fff;
    background-image: linear-gradient(90deg, #9572fc 0%, #43E7AD, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 3.2rem;
    padding-top: 2.4rem;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 2.4rem;

}

section ul li {
    transition: transform .4s;
}

section ul li:hover {
    transform: scale(1.3);

}

.games-list img {
    width: 9rem;
    border-radius: 8px;
}

.channel-list img {
    width: 6rem;
    border-radius: 50%;
    border: 2px solid #443e54;
}

.Social-list img {
    width: 4rem;
}

@keyframes {
    tran
}