* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./image/bg.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

main * {
    border: 1px solid red;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
}