* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-image: url(./image/bg.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
      line-height: 160%;
  
}

header {
    padding-top: 3.2rem;
    height: calc(120px + 32px);
}

header img {
    width: 100%;
    border-radius: 50%;
}

header div {
    width: 12rem;
    margin: auto;
    background-image: linear-gradient(90deg, #E2D45C 0%, #43E7AD, #9572fc 100%);
    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .4s;
}

header div:hover {
    transform: scale(1.1);
}

main {
    max-width: 36rem;
    width: 90%;
    margin: 3.2rem auto;

    display: grid;
    gap: 24px;
}

section {
    color: #fff;
    background-image: linear-gradient(118deg, #9572fc, #43E7AD, #E2D45C, #9572fc, #43E7AD, #E2D45C);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 2.3rem;
    padding-top: 2.4rem;
    border-radius: 8px;

}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    margin-top: 2.4rem;

}

section ul li {
    transition: transform .4s;
    animation: fromBottom .7s backwards;
}

section ul li:hover {
    transform: scale(1.1);
}

.games-list img {
    width: 9rem;
    border-radius: 8px;
}

.channel-list img {
    width: 7rem;
    border-radius: 50%;
    border: 2px solid #443e54;
}

.Social-list img {
    width: 3.8rem;
}

/*Animações e transições abaixo*/

header div {
    animation: fromTop .7s .5s backwards;
}

main section {
    /*animation: fromBottom .7s backwards;*/

    animation: rgb 2s ease infinite;
    background-size: 50%;
    animation-timing-function: linear;
    background-repeat: repeat-x; 

}

section ul li:nth-child(5) {
    animation-delay: .4s;
}
section ul li:nth-child(4) {
    animation-delay: .6s;
}
section ul li:nth-child(3) {
    animation-delay: .8s;
}
section ul li:nth-child(2) {
    animation-delay: .9s;
}
section ul li:nth-child(1) {
    animation-delay: .9s;
}


@keyframes fromTop {
    0% {
        opacity: 0;
        transform: translateX(-30px);
        
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateX(30px);
        
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rgb { 
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/*Swiper js*/
section {
    overflow: hidden;
 
}
section ul {
    flex-wrap: nowrap;
    gap: 0; 
}

/*.swiper-pagination1 {
   width: 2px;
    text-align: center;
    margin-top: 10px;
    padding: 0;
    background-color: transparent;
}
.swiper-pagination { 
    width: 2px;
    margin: 0;
	padding: 0px;
    background-color: transparent
}
*/

